ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:3001
ConnectionStrings__Telemachus=Server=YOUR_SERVER;Database=TelemachusWeb;User Id=sa;Password=YOUR_PASSWORD;TrustServerCertificate=true;
Jwt__SecretKey=replace-with-a-long-random-secret
SYNC_PASSCODE=replace-with-sync-passcode
VesselDetails__Name=Gea
VesselDetails__Prefix=GEA
VesselDetails__Operator=Ionia
VesselDetails__InitialPassword=replace-with-initial-password
VesselDetails__ListenPort=3001
