**/*.vs
**/bin/*
**/obj/*
Telemachus.Api/Telemachus/Properties/PublishProfiles/FTPProfile.pubxml
Telemachus.Api/Telemachus/Properties/PublishProfiles/FTPProfile.pubxml.user
.DS_Store
Telemachus.Api/Telemachus/Static/Attachments/
Telemachus.Api/Telemachus/appsettings.*
Telemachus.Api/Telemachus/Rotativa
Telemachus.Web/public/download/*
output.txt
DebugVessel.cmd
debug/*

Telemachus.Api/Telemachus/commands.json
Telemachus.Api/Telemachus/Logs/**/*

*.TMP
.env
