<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- Configure max request length and execution timeout -->
    <httpRuntime maxRequestLength="2147483647" executionTimeout="2147483647" />
    <!-- Approximately 2 GB -->
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Set the maximum allowed content length for the request -->
        <requestLimits maxAllowedContentLength="4294967295" />
        <!-- Approximately 4 GB -->
      </requestFiltering>
    </security>
    <asp>
      <!-- Configure the maximum request entity allowed -->
      <limits maxRequestEntityAllowed="4294967295" />
      <!-- Approximately 4 GB -->
    </asp>
  </system.webServer>
</configuration>
